<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSServices</key>
    <array>
        <dict/>
    </array>
    <!-- Add these keys for location permissions -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need access to your location to show you real-time navigation on the map.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need access to your location even when the app is not in use to provide alerts and location-based updates.</string>
</dict>
</plist>
